.nav {
  flex: space-between;
  color: black;
  font-size: 15px;
  background-color: lightcoral;
}

.logo {
  flex: space-between;
  font-size: 20px;
  color: black;

  background-color: green;
}

.nav .logo li a {
  flex: space-between;
  text-decoration: none;
  background-color: antiquewhite;
}

.socials {
  background-color: black;
  display: flex;
  margin-left: 5%;
}

.socials li a {
  display: flex;
  flex: space-between;
  gap: 10px;
  font-size: 20px;
  text-decoration: none;
  background-color: aqua;
  margin-left: 10%;
  padding: 15px;
}

/* NAVLINKS this is all the tabs except socials and logo */

.navlinks {
  background-color: palegreen;
  gap: 10px;
  margin-left: 8%;
  display: flex;
}

.navlinks li a {
  text-decoration: none;
  background-color: plum;
  padding: 15px;
}

/* remove all the dots */

.nav ul {
  list-style-type: none;
}
